*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#calciCont {
    height: 269px;
    width: 530px;
    margin: auto;
    border: 2px solid lightblue;
    background-color: aliceblue;
    margin-top: 102px;
    border-radius: 4px;
}

h3, p{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

#formCont{
    margin-left: 21px;
}

#flexCont {
    display: flex;
    width: 192px;
    height: 25px;
    justify-content: space-between;
}

.calciBtns{
    background-color: lightblue;
    color: black;
    width: 30px;
    border: 1px solid lightblue;
    border-radius: 4px;
}

.calciBtns:hover{
    background-color: rgb(88, 198, 235);
}

#resetBtn{
    width: 50px;
}
