<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.ScienceFair.checkLogin</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/inchargeLogin</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.ScienceFair.inchargeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/inchargeLogin</url-pattern>
  </servlet-mapping>
</web-app>
